.body {
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    color: black;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-inline: 80px;
}